*{
    margin: 0px;
    padding: 0px;
}

body{
    max-width: 1440px;
}
/*-------  Pop-up window "ALERT"  --------------*/
#alert{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(18,18,18,0.7);
    display: none;
}
#alert #alert_block{
    width: 920px;
    height: 210px;
    margin: 224px auto;
    background-color: white;
    padding-top: 25px;
    padding-left: 90px;
}

#alert #alert_block button{
    border: none;
    display: none;
    margin-right: 25px;
    float: right;
}

#alert #alert_block h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 42px;
    line-height: 50.4px;
}

#alert #alert_block p{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
}

#alert #alert_block p span{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
#alert #items{
    display:inline-block;
}
/*-------  End Popup "ALERT"  --------------*/


/*-------  Main page  --------*/
header{
    width: 380px;
    float: right;
    margin: 13% 15% 0 0;
}

header h1{
    font-family: Roboto;
    font-weight: 700;
    font-size: 42px;
    line-height: 50.4px;
    margin-bottom: 24px;
}

header p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #121212;
}

header button{
    background-color: #E4C1AE;
    border: none;
    border-radius: 32px;
    color: white;
    padding: 16px 40px;
    margin-top: 32px;
}

img{
    width: 505px;
    height: 330px;
    margin: 10% 0 0 10%;
}
/*----   Сleaning block   ----*/
.clear_class{
    clear: both;
}

/*----------     Adaptive design 1200px    -----------*/
@media (max-width: 1200px){
    header{
        width: 380px;
        float: none;
        margin: auto;
    }
    figure{
        display: inline-block;
        margin: 5% 25%;
    }
    img{
        width: 505px;
        height: 330px;
        margin: 0;
    }
    #alert #alert_block{
        width: 460px;
        height: 105px;
        margin: 278px auto;
        padding-top: 15px;
    }
    #alert #alert_block p{
        margin-top: 15px;
    }
}
/*----------     Adaptive design 700px    -----------*/
@media (max-width: 700px){
    figure{
        display: inline-block;
        margin: 5% 10%;
    }
    #alert #alert_block{
        margin: 275px auto;
        padding-left: 25px;
    }
    #alert #alert_block p{
        margin-top: 10px;
    }
}
/*----------     Adaptive design 550px    -----------*/
@media (max-width: 550px){
    figure{
        display: inline-block;
        margin: 5% 5%;
    }
    img{
        max-width: 405px;
        max-height: 230px;
        margin: 0;
    }
    #alert #alert_block{
        width: 350px;
        height: 105px;
        padding-top: 5px;
        padding-left: 25px;
    }
}
/*----------     Adaptive design 400px    -----------*/
@media (max-width: 400px){
    header{
        width: 380px;
        float: none;
        margin: 5% 3%;
    }
    figure{
        margin: 5% 3%;
    }
    #alert #alert_block{
        width: 350px;
        height: 105px;
    }
    #alert #alert_block p{
        margin-top: 0;
    }
}